@{title(model.title)}
<div class="container">

	<div class="section">
		<div class="blog-post">
			<h1 class="blog-title">@{model.title}</h1>
			<h2 class="date">Posted @{model.created.format('dd MMM yyyy')}</h2>
			<p class="blog-detail">@{helpers.nl2br(model.content)}</p>
		</div>

	</div>

	<div class="section">
		<div class="form">
			<h2 class="sub-title">Leave a Comment</h2>
			<form action="/comment/add" method="post">
				<div class="field">
					<label for="name">Name:</label>
					@{text('author', { maxlength: 30, placeholder: 'Your name', required: true })}
				</div>
				<div class="field">
					<label for="msg">Message:</label>
					@{textarea('message', { rows: '8', placeholder: 'Your message', required: true })}
				</div>
				<div class="field">
					@{text('postid', { value: model.id, style: 'display:none', required: true })}
					<input type="submit" value="Send message">
				</div>
			</form>
		</div>
	</div>

	@{if model.comments.length}
	<div class="section">
		<div class="comments">
			<h2 class="sub-title">Comments</h2>
			@{foreach comment in model.comments}
			<div class="comment" id="@{comment.id}">
				<h3 class="comment-author">@{comment.author}</h3>
				<h4 class="comment-date">Posted @{comment.created.format('dd MMM yyyy')}</h4>
				<p class="comment-content">@{helpers.nl2br(comment.message)}</p>
			</div>
			@{end}
		</div>
	</div>
	@{fi}

</div>
