@{title('My blog')}


<div class="container">
	<div class="section">
		@{if !model.items.length}
		<div class="blog-post">
			<h1 class="blog-title">Blog is empty :(</h1>
		</div>
		@{fi}


		@{foreach post in model.items}
		<div class="blog-post">
			<h1 class="blog-title">@{post.title}</h1>
			<h2 class="date">Posted @{post.created.format('dd MMM yyyy')}</h2>
			<p class="blog-content">@{post.content.max(350)}</p>
			<a href="/post/@{post.slug}" class="post-link">Read More...</a>
		</div>
		@{end}
	</div>

	<div class="section">
		<div class="pagination">
			<ul>
				@{foreach link in model.pagination}
				<li>
					<a href="@{link.url}" @{if link.selected} class="is-current"@{fi}>@{link.page}</a>
				</li>
				@{end}
			</ul>
		</div>
	</div>

</div>
